* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .body
  {
    background-color: aliceblue;
    background-image: url(./loginbg.png);
    background-size: cover;
    background-position: center;
  }
  
  section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  
  .login {
    position: relative;
    padding: 60px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
  }
  
  .login h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
  }
  
  .login .inputBox {
    position: relative;
  }
  
  .login .inputBox input {
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color: black;
    border-radius: 5px;
    background: #fff;
    border: none;
    margin-bottom: 30px;
  }
  
  .login .inputBox ::placeholder {
    color: black;
  }
  
  .login .inputBox #btn {
    position: relative;
    border: none;
    outline: none;
    background: black;
    color: #fff;
    cursor: pointer;
    font-size: 21px;
    font-weight: 500;
    transition: 0.5s;
  }
  
  .login .inputBox #btn:hover {
    background-color: grey;
  }
  
  .login .group1 {
    display: flex;
    justify-content:flex-end;
  }
  .login .group
  {
    display :flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .login .group a {
    font-size: 1.25em;
    color: black;
    font-weight: 500;
    text-decoration: none;
  }
  .name
  {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }