/* Sec_2.css */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  padding: 40px 0;
  background-color: #fafafa;
}

.container {
  max-width: 1200px;
  /* margin: 0 auto;
  padding: 0 15px; */
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftside {
  flex: 1;
  margin-right: 15px;
}

.rightside {
  flex: 1;
  margin-left: 15px;
}

.title_des {
  text-align: left;
  color: black;
  margin-bottom: 35px;
  margin-left: 0px;
  font-size: xx-large;
  font-weight: lighter;
}

.description {
  text-align: left;
  color: black;
  margin-bottom: 45px;
  line-height: 1.6;
  width: 70%;
  font-size: larger;
  letter-spacing: 0.4px;
}

.form {
  display: flex;
  justify-content: left;
  margin-bottom: 45px;
}

.button {
  padding: 10px 20px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  font-size: medium;
}
.button:hover{
  background-color: black;
  color: white;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -15px;
}

.card_HowItWorks {
  flex: 1 0 45%; /* xs=100%, sm=50% */
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 200px;
  width: 200px;
}

.cardicon {
  text-align: left;
  font-size: 24px;
  padding-bottom: 20px;
}

.cardtitle {
  text-align: left;
  font-size: larger;
  line-height: 1.6;
  letter-spacing: 0.1px;
  padding-left: 5px;
}
