/* Carousel.css */
.carousel {
    position: relative;
    overflow: hidden;
  }
  
  .carouselimage {
    position: relative;
    width: 100%;
    height: 80%;
    transition: all 2s ease-out;
  }

  